
{{> header.en}}
<P>there are incorrect login tries to your SADEED Account</P>
<pthe reason: {{action}}</p>
<p>informations: </p>
<p>tries: 3</p>
<P>incorrect tries: {{value}}</P>
<p>browser: {{browser}}</p>
<p> date: {{date}}</p>


<p>your Sadeed account has been disabled because of 3 incorrect login tries</p>
<p>you can contact Sadeed admin to enable your account again</p>
<p>email: {{email}}</p>
<p>phone: {{phone}}</p>


{{> footer.en}}