{{> header.ar}}
<P>هناك محاولات تسجيل دخول خاطئة إلى حسابك في منصة سديد</P>
<p>سببها: {{action}}</p>
<p>معلومات تسجيل الدخول الخاطئة: </p>
<p>عدد المحاولات: 3</p>
<P>القيمة الخاطئة: {{value}}</P>
<p>المتصفح: {{browser}}</p>
<p> تاريخ المحاولة: {{date}}</p>

<p> تم إلغاء تفعيل حسابك بسبب 3 محاولات خاطئة لتسجيل الدخول </p>
<p>بامكانك التواصل مع مدير النظام على الرقم {{phone}}</p>
<p>او بريديا على البريدالالكتروني:  {{email}}</p>
لإعادة تفعيل حسابك

{{> footer.ar}}